body {
  margin: 0px;
  padding: 1em;
  background: #000;
  color: #ccc;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  max-width: 50em;
}

dt {
  font-style: italic;
}
li {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

a {
  text-decoration: none;
}
a:link {
  color: #fc3;
}
a:visited {
  color: #69f;
}
a:active {
  color: #ff0;
}
a img {
  border-width: 0px;
}

.command {
  font-family: courier, fixed, monospace;
  margin-left: 2em;
  padding: 1ex;
  background-color: #333;
  color: #cfc;
  max-width: 46em;
}

.sourcecode {
  font-family: courier, fixed, monospace;
  margin-left: 2em;
  padding: 1ex;
  background-color: #333;
  color: #ccf;
  max-width: 46em;
}
