body {
  background-color: #999;
  color: #000;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

#shell {
  position: fixed;
  top: 0px;
  left: 50%;
  min-height: 100%;
}

#bottom-right {
  padding: 0px;
  margin: 1ex 0px;
  position: absolute;
  bottom: 0ex;
  left: 27em;
}

#top-left {
  padding: 0px;
  margin: 1ex 0px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 0px;
  right: 27em;
  max-width: 12em;
  min-width: 8em;
}

#content {
  border: 4px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  margin: 1ex auto;
  padding-bottom: 3ex;
  max-width: 52em;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:link {
  color: #930;
}
a:visited {
  color: #039;
}
a:active {
  color: #f30;
}
a img {
  border: 0px;
}

#navtab {
  color: #333;
  margin: 1ex auto;
  padding-bottom: 0ex;
  max-width: 52em;
  text-align: center;
}

#navtab a {
  border: 4px solid #ccc;
  border-radius: 4px;
  background-color: #ccc;
}

#shell p {
  margin: 0px;
  padding: 0px;
}
#shell ul {
  margin: 0px;
  list-style-type: none;
  padding-right: 0px;
}
#shell li {
  margin: 0px;
  padding: 0.2ex 0px 0.2ex 0.2em;
  border: 2px solid #ccc;
}
#shell ul ul {
  margin-left: 0.2em;
}
#shell ul ul li {
  margin: 0px;
  padding: 0.2ex 0.2em;
  border-top: 1px solid #ccc;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
#shell a {
  font-weight: normal;
}

h1 {
  padding: 0.2ex 0.2em;
  margin: 1px;
  border: none;
}
h2 {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 1em;
  border-top: 2px solid #ccc;
}
h3 {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 2em;
}
h4 {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 3em;
}

p {
  padding: 0.2ex 0.2em;
  margin: 1ex 2em 0ex 4em;
}

pre.command {
  padding: 0.4ex 0.4em 0.4ex 1em;
  margin: 1ex 2em 0ex 4em;
  background-color: #ddf;
  font-weight: bold;
}
pre.output {
  padding: 0.4ex 0.4em 0.4ex 1em;
  margin: 1ex 2em 0ex 4em;
  background-color: #ffd;
}
pre.code {
  padding: 0.4ex 0.4em 0.4ex 1em;
  margin: 1ex 2em 0ex 4em;
  border: 2px solid #9c9;
}

li pre.command {
  margin: 1ex 2em 0ex 0em;
}
li pre.output {
  margin: 1ex 2em 0ex 0em;
}
li pre.code {
  margin: 1ex 2em 0ex 0em;
}

dd pre.command {
  margin: 1ex 2em 0ex 0em;
}
dd pre.output {
  margin: 1ex 2em 0ex 0em;
}
dd pre.code {
  margin: 1ex 2em 0ex 0em;
}

dl {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 4em;
}
dt {
  font-style: italic;
}
dd {
  margin: 0ex 0em 0ex 2em;
}

table {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 2em;
  border-spacing: 0px;
}
th {
  background-color: #ddd;
  vertical-align: top;
  text-align: left;
  padding: 0.5ex 1em;
  font-weight: bold;
}
td {
  vertical-align: top;
  padding: 0ex 1em;
}
tr.alt td
{
  background-color: #ddd;
}

ul {
  padding: 0px;
  margin: 1ex 0em 0ex 2em;
}
li {
  padding: 0.2ex 0.2em;
  margin: 0ex 0em 0ex 2em;
}

#content ul {
  padding: 0.2ex 0.2em;
  margin: 1ex 0em 0ex 4em;
}
#content ul li {
  padding: 0px;
  margin: 1ex 0em 0ex 1em;
}
#content ol {
  padding: 0.2ex 0.2em;
  margin: 0ex 0em 0ex 4em;
}
#content ol li {
  padding: 0px;
  margin: 1ex 0em 0ex 1.5em;
}
#content ol li ul {
  padding: 0px;
  margin: 0ex 0em 0.4ex 0em;
}
